.nav {
  height: 50px;
  background-color: #222222;
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

.mr {
  margin-right: 10px;
}
