<div class="container">
  <!-- <h1 class="bold header">Lägg till ny kampanj</h1> -->

  <div class="form">
    <form (ngSubmit)="login(form)" [formGroup]="form">
      <label>
        <h4 class="bold">Användarnamn</h4>
        <input
          [class.error]="usernameControl.invalid && submitted || error"
          class="form__input"
          formControlName="username"
          type="text"
        />
        <div *ngIf="usernameControl.invalid && submitted" class="form__error">
          <p>Användarnamn krävs</p>
        </div>
      </label>

      <label>
        <h4 class="bold">Lösenord</h4>
        <input
          [class.error]="passwordControl.invalid && submitted || error"
          class="form__input"
          formControlName="password"
          type="password"
        />
        <div *ngIf="passwordControl.invalid && submitted" class="form__error">
          <p>Lösenord krävs</p>
        </div>
        <div *ngIf="error" class="form__error">
          <p>Fel lösenord eller användarnamn</p>
        </div>
      </label>

      <div class="form__submit">
        <button class="btn " type="submit">
          Logga in
        </button>
      </div>
    </form>
  </div>
</div>
