<div class="container">
  <h1 class="bold sbf-w header">Aktiva kampanjer</h1>

  <div *ngFor="let add of ads">
    <div class="add">
      <div class="card">
        <a href="{{ add.url }}" target="blank">
          <img class="card-img" src="{{ add.imageUrl }}" alt="card image" />
        </a>
        <div class="card-body">
          <div class="card-text">
            <p class="italic title">{{ add.title }}</p>
            <p class="text">{{ add.text }}</p>
          </div>
        </div>
      </div>
      <div class="icons">
        <img
          alt="moveUp"
          class="icon mr-r "
          src="assets/moveUp.png"
          (click)="moveDown(add)"
        />
        <img
          alt="moveDown"
          class="mr-r icon"
          src="assets/moveDown.png"
          (click)="moveUp(add)"
        />
        <img
          alt="delete"
          class="icon"
          src="assets/delete.png"
          (click)="deleteAdd(add.id)"
        />
      </div>
    </div>
  </div>
</div>
