/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.bold {
  font: 700;
}

.black {
  font: 900;
  font-style: italic;
}
