<div class="container">
    <h1 class="bold header">Lägg till ny kampanj</h1>

    <div class="form">
        <form [formGroup]="form">
            <label>
                <h4 class="bold">Kampanj rubrik</h4>
                <input [class.error]="nameControlInvalid" class="form__input" formcontrolname="name" type="text"/>
                <div *ngIf="nameControlInvalid" class="form__error">
                    <p>Must be filled</p>
                </div>
            </label>

            <label>
                <h4 class="bold">Text</h4>
                <textarea [class.error]="nameControlInvalid" class="form__input" formcontrolname="text" id="textarea" type="text"></textarea>
                <div *ngIf="textControlInvalid" class="form__error">
                    <p>Must be filled</p>
                </div>
            </label>

            <label>
                <h4 class="bold">Länk</h4>
                <input [class.error]="nameControlInvalid" class="form__input" formcontrolname="link" type="text"/>
                <div *ngIf="linkControlInvalid" class="form__error">
                    <p>Must be filled</p>
                </div>
            </label>

            <label>
                <h4 class="bold">LADDA UPP BILD</h4>
                <!-- <input [class.error]="nameControlInvalid" class="form__input" formcontrolname="link" type="text"/> -->
                <div *ngIf="linkControlInvalid" class="form__error">
                    <p>Must be filled</p>
                </div>
            </label>
            <div class="form__upload">
                <button (click)="openFileBrowser($event)" class="form__upload-btn">Browse</button>
                <input id="imgName" [class.error]="nameControlInvalid" readonly class="form__input" formcontrolname="link" type="text" placeholder="{{fileName}}"/>
            </div>
            <input (change)="imageChange($event)" accept=".gif,.jpg,.jpeg,.png" id="imageBrowser" style="display: none;" type="file">


        <!-- <ng-content></ng-content> -->

            <!-- <div class="form__actions">
                                                                                                                                                                                                                                                                                                                                <button
                                                                                                                                                                                                                                                                                                                                  type="button"
                                                                                                                                                                                                                                                                                                                                  class="btn btn__ok"
                                                                                                                                                                                                                                                                                                                                  *ngIf="!exists"
                                                                                                                                                                                                                                                                                                                                  (click)="createPizza(form)"
                                                                                                                                                                                                                                                                                                                                >
                                                                                                                                                                                                                                                                                                                                  Create Pizza
                                                                                                                                                                                                                                                                                                                                </button>
                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                <button
                                                                                                                                                                                                                                                                                                                                  type="button"
                                                                                                                                                                                                                                                                                                                                  class="btn btn__ok"
                                                                                                                                                                                                                                                                                                                                  *ngIf="exists"
                                                                                                                                                                                                                                                                                                                                  (click)="updatePizza(form)"
                                                                                                                                                                                                                                                                                                                                >
                                                                                                                                                                                                                                                                                                                                  Save changes
                                                                                                                                                                                                                                                                                                                                </button>
                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                <button
                                                                                                                                                                                                                                                                                                                                  type="button"
                                                                                                                                                                                                                                                                                                                                  class="btn btn__warning"
                                                                                                                                                                                                                                                                                                                                  *ngIf="exists"
                                                                                                                                                                                                                                                                                                                                  (click)="removePizza(form)"
                                                                                                                                                                                                                                                                                                                                >
                                                                                                                                                                                                                                                                                                                                  Delete Pizza
                                                                                                                                                                                                                                                                                                                                </button>
                                                                                                                                                                                                                                                                                                                              </div> -->
        </form>
    </div>
</div>
